.movie-card{ 
    position: relative; 
    background-position: top; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 30px; 
    padding-top: 160%; 
    margin-bottom: 1rem;
} 
.movie__link{ 
    text-decoration: none; 
    color: white;
}
.movie-card .btn{ 
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    transition:  transform .3s ease, box-shadow .3s ease;
} 
.movie-card::before { 
    content: '';
    position: absolute; 
    top: 0; 
    left: 0 ;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0); 
    opacity: 0; 
    transition:  opacity .3s ease; 
    border-radius: 30px;
}   
.movie__link:hover{ 

    color: #ff0000;
}
@media (hover: hover) and (pointer: fine) {
    .movie-card:hover::before {
        opacity: 0.8; 
    }

    .movie-card:hover .btn {
        transform: translate(-50%, -50%) scale(1);
    }
}