button{ 
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
}
.btn{ 
    border:  4px solid transparent;
    background:  #ff0000 ; 
    color: white;
    border-radius: 30px;
    padding: 0.5rem 1.8rem; 
    font-size: 1.5rem; 
    font-weight: 600; 
    box-shadow:  0px 0px 7px 8px #ff00004d;
    transition: all 0.3s ease;
    position: relative;
}
.btn:hover{ 
    box-shadow:  0px 0px 7px 15px #ff00004d;
} 
.btn-outline{ 
    border:  3px solid white;
    background-color: transparent ; 
    color: white;
    box-shadow: unset;
    transition: all 0.3 ease; 
    border-radius: 30px;
    padding: 0.5rem 1.8rem; 
    font-size: 1.5rem; 
    font-weight: 600;  
    position: relative;
} 
.btn-outline:hover{ 
    box-shadow: unset; 
    color: #ff0000;
    background-color: white !important;
}
.btn.small{ 
    border-width:2px ;
    padding: .25rem 1.5rem;
    font-size: 1rem;
}