.movie-grid{ 
    margin: 1.1rem 0;
    display: grid; 
    grid-template-columns:  repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; 
    margin-bottom: 3rem;
} 
.movie-grid__loadmore{  
    margin-bottom: 1rem;
    text-align: center; 
    
}
@media screen and (max-width:900px) { 
    .movie-grid{ 
        grid-template-columns:  repeat(auto-fill, minmax(150px, 1fr));
    }
}