@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{  
  --body-bg: #0f0f0f;
  --main-color: #ff0000;
  --bx-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
  --header-height: 8rem;
  --header-shrink-height: 5rem; 
  --ft-fam: 'Montserrat',sans-serif;
}